@{
    ViewBag.Title = "Show2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="w3-container">
    <h5>Countries</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
            <td>United States</td>
            <td>65%</td>
        </tr>
        <tr>
            <td>UK</td>
            <td>15.7%</td>
        </tr>
        <tr>
            <td>Russia</td>
            <td>5.6%</td>
        </tr>
        <tr>
            <td>Spain</td>
            <td>2.1%</td>
        </tr>
        <tr>
            <td>India</td>
            <td>1.9%</td>
        </tr>
        <tr>
            <td>France</td>
            <td>1.5%</td>
        </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
</div>

<!-- User Comments -->
<div id="Comment" class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
        <div class="w3-col m2 text-center">
            <img class="w3-circle" src="~/Images/avatar2.png" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
            <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
            <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col m2 text-center">
            <img class="w3-circle" src="~/Images/avatar2.png" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
            <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
    </div>
</div>


<div class="w3-container">
    <h5>Recent Users</h5>
    <ul class="w3-ul w3-card-4 w3-white">
        <li class="w3-padding-16">
            <img src="~/Images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
            <span class="w3-xlarge">Mike</span><br>
        </li>
        <li class="w3-padding-16">
            <img src="~/Images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
            <span class="w3-xlarge">Jill</span><br>
        </li>
        <li class="w3-padding-16">
            <img src="~/Images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
            <span class="w3-xlarge">Jane</span><br>
        </li>
    </ul>
</div>
@section scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {


            $("#RoleForm").hide();
           

               $("#RoleAssignmentBtn").click(function () {

                   $("#RoleForm").slideToggle(2000);

               });

               $("#CommentBtn").click(function () {

                   $("#Comment").slideToggle(2000)

               });


            $("#CreateMeetingBtn").click(function () {

                $(location).attr('href', '@Url.Action("Create","Home")');

            });


        });
    </script>

    }


